<p><%= @customer.last_name + @customer.first_name %>さんの会員詳細</p>
<table class="table table-borderless">
  <tbody>
      <tr>
        <td class="col-2">会員ID</td>
        <td><%= @customer.id %></td>
      </tr>
      <tr>
        <td class="col-2">氏名</td>
        <td><%= @customer.last_name + "　" + @customer.first_name %></td>
      </tr>
      <tr>
        <td class="col-2">フリガナ</td>
        <td><%= @customer.last_name_kana + "　" + @customer.first_name_kana %></td>
      </tr>
      <tr>
        <td class="col-2">郵便番号</td>
        <td><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <td class="col-2">住所</td>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <td class="col-2">電話番号</td>
        <td><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <td class="col-2">メールアドレス</td>
        <td><%= @customer.email %></td>
      </tr>
      <tr>
        <td class="col-2">会員ステータス</td>
        <td>
          <% if @customer.is_deleted %>
            <span class="text-secondary">退会</span>
          <% else %>
            <span class="text-success">有効</span>
          <% end %>
        </td>
      </tr>
  </tbody>
</table>