<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="col-5 my-3 bg-light text-center">管理者ログイン</h5>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td class="col-3"><%= f.label :email %></td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", size: 50 %></td>
            </tr>
            <tr>
              <td class="col-3"><%= f.label :password %></td>
              <td><%= f.password_field :password, autocomplete: "current-password", size: 50 %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.submit "Log in", class: "btn btn-sm btn-primary" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>

<%= render "admins/shared/links" %>
