<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="col-2 mt-3 bg-light text-center">ログイン</h5>
      <p class="col-5 my-3 bg-light text-center">会員の方はこちらからログイン</p>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td class="col-3"><%= f.label :email %></td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", size: 50 %></td>
            </tr>
            <tr>
              <td class="col-3"><%= f.label :password %></td>
              <td><%= f.password_field :password, autocomplete: "current-password", size: 50 %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.submit "Log in", class: "btn btn-sm btn-primary" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>

      <p class="col-4 my-3 bg-light text-center">会員登録がお済でない方</p>
      <p class="offset-2"><%= link_to 'こちら', new_customer_registration_path %>　から新規登録を行ってください。</p>
    </div>
  </div>
</div>